.people_list__box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 10%;

}

.card__box{
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  min-width: 400px;
}

.card__box__body{
  padding: 20px;
  padding-top: 2px;
}

.people__list__card{
  min-width: 400px !important;
}



.card__heading__view{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.card__heading__view h5{
  font-size: 14px;
  text-transform: uppercase;
  color: #611b93;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
}

.plus__icon_box{
  width: 23px;
  height: 23px;
  border: 1px solid #ccc;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 1px #ccc;
  border-radius: 2px;
  cursor: pointer;
}

.plus__icon_box .plus__icon{
  fill: black;
  font-size: 20px;
}


.people__contact__list{
  display: flex;
  gap: 0.5em;
  align-items: center;
  padding-bottom: 7px;
}

.people__contact__list p{
  color:#457DDB;
  font-weight: 400;
}

.people__contact__list svg{
  fill: #757678;
}

.view__more{
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #26292C;
  margin-top: 2px;
  cursor: pointer;
}

.view__more svg{
  fill: #26292C;
}

.view__all__button{
  padding: 5px;
  border: 1px solid #ccc;
  box-shadow: 0px 1px 1px #ccc;
  border-radius: 2px;
  display: inline-block;
  margin-top: 15px;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.css-2b097c-container {
  margin-top: 5px;
}


/* .css-1uccc91-singleValue, .css-1wa3eu0-placeholder{
  top: 54% !important;
} */

.css-1okebmr-indicatorSeparator{
  display: none !important;
}

/* .css-tlfecz-indicatorContainer {
  color: #26292C;
  padding: 3px;
  margin-top: -5px;
}

.check__icon{
  color:#457DDB;
  font-size: 12px;
} */

.label__main__box:hover .check__icon{
color:#fff;
}

input:-internal-autofill-selected{
  background: none !important;
}
